@import url(./__logo/header__logo.css);
@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_underline/header__lang-link_underline.css);
.header{
  width: 93%;
  min-height: 42px;
  margin: auto;
  border: 1px solid red;
  display: grid;
  grid-template-columns: repeat(2, 1fr);  
}
@media screen and (min-width: 1024px){
  .header{
    width: 93%;
  }
}