.intro__text{
max-width: 690px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 26px;
color: #FFFFFF;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .intro__text{
  width: 720px;
}
}