@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer{
  border: 1px solid red;
  width: 92.5%;
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
}