@import url(./__links/footer__links.css);
@import url(./__link/footer__link.css);
@import url(./__copyright/footer__copyright.css);

.footer{
  width: 92.5%;
  margin: 92px auto 0;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 767px){
  .footer{
  flex-direction: column;
  justify-content: flex-start;
  }
}